%div#search
  =form_tag talents_path, :method => :get do
    =text_field_tag :search, params[:search], :class => 'search'
    =image_submit_tag("search_button.png",:class=>'search_button')

-if @talents.empty?
  %p
    No talents found, please try different keywords
-else
  =render @talents
