%div.interview{:class => unacceptable_class(interview)}
  %p.entity
    =interview.entity
  %p
    Accepted? 
    =link_to_if(needs_response(interview,current_user),accepted_text(interview),edit_interview_path(interview))
  %p
    =talent_or_agent(interview, current_user)
  %p.description
    ="'#{interview.description}'"
