%p I'm a talented developer but...
%ul
  %li I suck at networking!
  %li I freelance and would rather code than hustle for my next project.
  %li I'm not very good at promoting myself.
  %li I just can't find a position that really fits what I'm looking for.
  %li I hate negotiating, I wish someone would do it for me.
%p Sound familiar? Talent Driven Development is all about having someone representing you - your talent and your best interests.
%p It's simple - you choose an agent, they do the work to find only what you are looking for, and when you've found that right fit you give them a small cut. Everybody's happy because everybody wins!
%p Just sign up and we'll get you started!