=link_to "Edit Profile", edit_agent_path(@user)
|
=link_to "View Profile", agent_path(@user)
%div.dashboard
  =render 'badges'
  =render 'agent/talents'
  =render 'interviews/interviews'  
  =render 'offers/offers'
  =render 'messages'
