%p
  ="Unfortunately #{@request.agent.full_name} has decided they are not a good fit to represent you at this time."
%p
  Many times an agent will not feel they have the proper background with your skill set to quickly find good opportunity options for you. It's not at all personal. We encourage you to keep looking for an agent that will be able to deliver for you.
