%p Talent Driven Development relies on your talent too!  
%p As a TDD agent you'll use your special skills of networking, communications and technical knowledge to benefit both you and the talent you represent.
%p Here's how it works: Developers choose you to represent them based on the skills and background information you include in your profile.  You find them a great fit and receive a cut of the earnings! Everybody's happy because everybody wins!
%p Just sign up and we'll get you started: