%p
  ="Congratulations! #{@interview.talent.full_name} has accepted the interview with #{@interview.entity}!"
%p
  ="Please contact #{@interview.talent.first_name} right away to go over details and prep."
