%p
  ="We're sorry to report that #{@interview.talent.full_name} has turned down the interview with #{@interview.entity}."
%p
  ="We encourage you to contact #{@interview.talent.first_name} to find out why this wasn't the best fit, and to get further details about #{@interview.talent.first_name}'s goals."
