@import "main";

div.interview {
  border-bottom:1px dashed $blue;
  p {
    margin-bottom:10px; 
  }
  p.entity {
    font-weight:bold;
  }
  p.description {
    font-style:italic;
    margin-bottom:15px;
  }
}
.unacceptable {
  color:red;
}

