@import "main";

div.offer {
  border-bottom:1px dashed $blue;
  margin-bottom:5px;
  p {
    margin-bottom:10px; 
  }
  p.entity {
    font-weight:bold;
  }
  p.description {
    font-style:italic;
  }
}
.unacceptable {
  color:red;
}
