@import "main";

div.profile {
  h2 {
    font-size:2em;
  }
  div.avatar img {
    border:5px solid $blue;
  }
  h3 {
    font-weight:bold;
  }
}

div.list {
  border-bottom:1px dashed $blue;
  img {
    border:2px solid $blue;
  }
  div.left {
    float:left;
    margin-right:20px;
  }  
}
input[type=text].search {
    height:40px;
    width:400px;
    font-size:1.5em;
}
div#search {
  width:600px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:50px;
  .search_button {
    position:relative;
    top:20px;
  }
}

