@import "main";

div.profile {
  h2 {
    font-size:2em;
  }
  div.avatar img {
    border:5px solid $blue;
  }
  h3 {
    font-weight:bold;
  }
}

div.list {
  border-bottom:1px dashed $blue;
  img {
    border:2px solid $blue;
  }
  div.left {
    float:left;
    margin-right:20px;
  }  
}
