#intro {
  width:80%;
}
#intro p.lead_in {
  text-align:center;
}

#intro p.question {
  text-align:center;
}

#intro div.links {
  text-align:center;
  width:79%;
  margin: 0px auto;
}
#intro div.talent {
  width:50%;
  float:left;
}
#intro div.agent {
  width:50%;
  float:left;
}
