%p
  We are so excited you've decided to try Talent Driven Development! We hope it will help minimize the annoying parts of managing your career so you can concentrate on what you enjoy.
%p 
  Please confirm your account and we'll guide you through the first steps.