!!!
%html
  %head
    %title TalentDrivenDevelopment
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    %p.notice=notice
    %p.alert=alert
    %div#header_links=render 'welcome/header_links'
    %div#banner=image_tag("main_banner.png")
    %div#yield= yield

